* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Убирает синий фон при нажатии на кнопу, ссылку...
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--primaryLight);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primaryLight);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
  border: 3px solid var(--primaryLight);
}