:root {
  --comforter: 'Comforter', cursive;
  --montserrat: 'Montserrat Alternates', sans-serif;
  --philosopher: 'Philosopher', sans-serif;
  --primary: #000000;
  --primaryLight: #ffffff;
  --accent: #739273;
  --100vh: 100vh;
}